body {
    background-image: linear-gradient(to right, gray, lightgray);
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}

.fieldset {
    border: 3px solid dodgerblue;
}

.legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

header {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#sobre {
    font-size: 12px;
    text-align: center;
}